*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: fit-content;
}

html{
    font-family: sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

#container{
    width: 100%;
    height: 100%;
    border: 5px solid #d4d4d4;
    /* margin-top: 20vh; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-img{
    position: relative;
    display:contents;
}

img{
    width: 100%;
    height: 50%;
}

.img-descrip{
    position: absolute;
    top: 260px;
    left: 120px;
    /* transform: translate(-50%, -50%); */
    background-color: rgba(0, 0, 0, 0.702);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}